<%= render 'layouts/navbar' %>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Can put a header if you like or take it out
        </div>

        <div class="panel-body">

          <%= render 'WilfredsPartialForClockIn' %>

        </div>
      </div>
    </div>


    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          Can put a header if you like or take it out
        </div>

        <div class="panel-body">

          <%= render 'PatrickNicMegansPartialForHoursForm' %>

        </div>
      </div>
    </div>

  </div>
</div>


