<!DOCTYPE html>
<html>
<head>
	<title>Sign In Form</title>
	<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="normalize.css">
	<link type="text/css" rel="stylesheet" href="main.css">

</head>
<body>
	<div id="login-box">
		<div class="center">
		<h1>My Account</h1>

		<form class="sign-up" action="index.html" method="post">

		<input type="text" name="username" placeholder="Username"/>
		<input type="text" name="email" placeholder="E-mail"/>
		<input type="password" name="password" placeholder="Password"/>
		<input type="password" name="password" placeholder="Retype Password"/>
		<button class="sign-up-button" type="submit" />
		Sign In </button>

		</form>
		</div>
	</div>
</body>
</html>
